
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493013075268'); /* IE9*/
  src: url('iconfont.eot?t=1493013075268#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493013075268') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493013075268') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493013075268#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e63e"; }

.icon-fanhui1:before { content: "\e606"; }

.icon-dingdan2:before { content: "\e613"; }

.icon-zhifu:before { content: "\e63c"; }

.icon-yinxingqia:before { content: "\e61a"; }

.icon-demo02:before { content: "\e612"; }

.icon-mima:before { content: "\e60e"; }

.icon-jinggao:before { content: "\e64f"; }

.icon-weibiaoti11:before { content: "\e65f"; }

.icon-tupian-copy:before { content: "\e60c"; }

.icon-xianxiazhifu:before { content: "\e66e"; }

.icon-yue:before { content: "\e7a9"; }

.icon-fangdajing:before { content: "\e627"; }

.icon-wo1:before { content: "\e7fe"; }

.icon-shouji2:before { content: "\e7fd"; }

.icon-saoyisao:before { content: "\e79a"; }

.icon-ren:before { content: "\e62b"; }

.icon-jianpanshanchu:before { content: "\e71f"; }

.icon-guanbianniu1:before { content: "\e641"; }

.icon-quanbu11:before { content: "\e60b"; }

.icon-lianjie:before { content: "\e63f"; }

.icon-shangjia:before { content: "\e638"; }

.icon-fenlei-copy:before { content: "\e604"; }

.icon-zhifu1:before { content: "\e672"; }

.icon-guanbianniu:before { content: "\e60f"; }

